body{
	font-size: 12px;
	background-color: #F5F5F5;
}
.top{
	height: 27px;
	overflow: hidden;
	border-bottom: 1px solid #ccc;
}
/*包裹居中*/
.wrapper{
	width: 1000px;
	margin: 0 auto;
}
.top ul{
	float: right;
	line-height: 27px;
}
.top li{
	display: inline-block;
	padding-left: 10px;
}
/*伪类制作左三角*/
.top li::before{
	content: '';
	border: 5px solid transparent;
	border-left-color:#000 ;
	position: absolute;
	margin-left: -10px;
	top: 16px;
}
.top li a:hover,.top li a:active{
	color: red;
}
/*logo整体*/
.logo{
	height: 80px;
	background-color: #fff;
}
/*logo-left*/
.logo-left{
	float: left;
	width: 200px;
	height: 80px;
	background: url(../img/logo.jpg);
	
}
/*隐藏文字 可访问性隐藏*/
.logo-left h1{
	position: absolute;
	clip:rect(0 0 0 0);
}
.logo-right{
	float: right;
	height: 80px;
	line-height: 80px;
	margin-right: 10px;
}
.tel{
	display: inline-block;
	height: 28px;
	line-height: 28px;
	padding-left: 30px;
	background: url(../img/tel.jpg) no-repeat ;
	
}
.logo-right h1{
	display: inline-block;
	margin: 0;
	font-family: "微软雅黑";
	font-size: 16px;
	color:#C00;
}